.stories-wrapper {
  height: 172px;
  display: flex;
  align-items: center;
}

.storiesSwiper {
  display: flex !important;
  align-items: center !important;
  width: 100%;
  max-width: 1336px;
  background-color: white;
  padding: 0 8px !important;

  .stories {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .swiper-button-prev,
.swiper-button-next {
  top: 87.5px !important;
}
}

.story {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: fit-content !important;
}

.story__anchor {
  width: 84px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.story__circle {
  width: 84px;
  height: 84px;
  background-image: linear-gradient(315deg, #e03d96, #7d4c9e);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.story__circle-img {
  width: 74px;
  height: 74px;
  border-radius: inherit;
  outline: 3px solid white;
  object-fit: cover;
  object-position: center center;
  user-select: none;
}

.story__caption {
  font-family: var(--IranYekanRegular);
  height: 48px;
  font-size: 11px;
  line-height: 24px;
  color: #23254e;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  user-select: none;
}
