.bestsellers-wrapper {
  height: 421px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bestSellersSwiper {
  width: 100%;
  max-width: 1336px;
  height: 404px;
  border: 1px solid var(--primaryColor);
  border-radius: var(--secondaryBorderRadius);
  padding: 16px 0 28px 10px !important;
}

.bestsellers__head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10px 28px 0;
  padding-left: 6px;

  .bestsellers__title {
    font-family: var(--IranYekanMedium);
    font-size: 21px;
    line-height: 44px;
    color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .bestsellers__title-img {
      width: 24px;
      height: 24px;
    }
  }

  .bestsellers__all {
    text-align: left;

    .bestsellers__all-anchor {
      font-family: var(--IranYekanBold);
      font-size: 14px;
      line-height: 30px;
      color: #19bfd3;
    }
  }
}

.bestsellers {
  padding-right: 8px !important;
  .bestseller:first-of-type {
    .bestseller__column {
      padding-right: 0;
    }
  }
}

.bestseller {
  width: fit-content !important;
}

.bestseller__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 315px;
  padding: 0 10px;
  box-sizing: content-box;
}

.bestseller-anchor {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bestseller-img {
  width: 86px;
}

.bestseller__num {
  font-family: var(--IranYekanExtrabold);
  color: #19bfd3;
  font-size: 26px;
  line-height: 55px;
  width: 25px;
}

.bestseller__name {
  font-family: var(--IranYekanRegular);
  font-size: var(--primaryFontSize);
  line-height: var(--primaryLineHeight);
  color: #3f4064;
  width: 100%;
  height: 52px;

  .bestseller__name-p-oneline {
    line-height: 52px;
  }

  .bestseller__name-p:not(.bestseller__name-p-oneline) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.bestseller-anchor:not(:first-of-type) {
  .bestseller__name::before {
    display: block;
    position: relative;
    top: -28px;
    content: "";
    height: 1.5px;
    background-color: var(--secondaryColor);
  }
}

.bestsellers__button__prev-swiper {
  right: 15px !important;
}

.bestsellers__button__next-swiper {
  left: 15px !important;
}

.bestsellers__button__next-swiper,
.bestsellers__button__prev-swiper {
  top: 240px !important;
}
