.pop__onsales-wrapper {
  width: 100%;
  height: 830px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pop__onsales {
  width: 100%;
  max-width: 1336px;
  /* height: 812px; */
  border: 1px solid var(--primaryColor);
  background-color: var(--secondaryColor);
  border-radius: var(--secondaryBorderRadius);
  padding: 16px 14px 0 14px;
  background-color: #fff;
}

.pop__onsales__title {
  font-family: var(--IranYekanMedium);
  font-size: 21px;
  line-height: 44px;
  color: #0c0c0c;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--secondaryBorderRadius) var(--secondaryBorderRadius) 0 0;
  padding-bottom: 25px;

  .pop__onsales__title-img {
    width: 24px;
    height: 24px;
  }
}

.pop__onsale {
  display: flex;
  flex-flow: row wrap;
  gap: 1px;
  background-color: var(--secondaryColor);

  .pop__onsale-anchor {
    width: 216px;
    height: 242px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-grow: 1;
    padding: 12px 8px;
    gap: 8px;
  }

  .pop__onsale-img {
    width: 150px;
    height: 150px;
    align-self: center;
  }

  .pop__onsale__price__off {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--IranYekanBold);

    .pop__onsale__price {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #3f4064;

      .pop__onsale__price-toman {
        width: 16px;
        height: 16px;
      }
      .pop__onsale__price__tag {
        font-size: 16px;
        line-height: 34px;
      }
    }
    .pop__onsale__off {
      font-size: var(--primaryFontSize);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 20px;
      background-color: #d33a30;
      color: #fff;
      border-radius: 50px;
    }
  }
  .pop__onsale__price__strikethrough {
    font-family: var(--IranYekanRegular);
    font-size: var(--primaryFontSize);
    text-decoration: line-through;
    color: #c0c2c5;
    text-align: left;
    padding-left: 20px;
    margin-top: -5px;
  }
}
